@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    & .header__container {
      display: flex;
      justify-content: center;
      align-items: center;
      &-address {
        display: flex;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
    & .header__container-address {
      display: flex;
    }
  }
}
