.header {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.header__address {
  outline: 1px solid red;
  display: flex;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__address {
    display: block;
  }
  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__address {
    display: flex;
  }
}
