.thumb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.indent_section {
  padding-top: 94px;
}

.title-list {
  display: block;
}

.title-list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.title-list .item {
  max-width: 100%;
  max-height: 226px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  justify-content: center;
}
