.desription {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  &-item {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }
}

.thumb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.indent_section {
  padding-top: 178px;
}
.title-list {
  display: flex;
  flex-direction: column;
}
.title-list .item {
  margin-bottom: 30px;
  min-height: 226px;
}

// .title-list .item:not(:nth-child(4n)) {
//   margin-right: 30px;
// }
